<%= form_for @number, :html => { :class => "form-horizontal number" } do |f| %>

  <% if @number.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@number.errors.count, "error") %> prohibited this number from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @number.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :phone_num, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_num, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone_num) %>
  </div>
  <div class="form-group">
    <%= f.label :real_num, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :real_num, :class => 'form-control' %>
    </div>
    <%=f.error_span(:real_num) %>
  </div>
  <div class="form-group">
    <%= f.label :apply_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :apply_at, :class => 'form-control' %>
    </div>
    <%=f.error_span(:apply_at) %>
  </div>
  <div class="form-group">
    <%= f.label :company_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :company_id, Company.all.collect { |c| [ c.name, c.id ] }, include_blank: true %>
    </div>
    <%=f.error_span(:company_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                numbers_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
