<%- model_class = Number -%>
<div class="page-header">
  <h1><%=t '.title', :default => t_model_name(model_class) %></h1>
</div>


<p>
  <strong><%= t_attr_name(model_class,:phone_num) %>:</strong>
  <%= @number.phone_num %>
</p>
<p>
  <strong><%= t_attr_name(model_class,:real_num) %>:</strong>
  <%= @number.real_num %>
</p>
<p>
  <strong><%= t_attr_name(model_class,:apply_at) %>:</strong>
  <%= @number.apply_at %>
</p>
<p>
  <strong><%= t_attr_name(model_class,:company_id) %>:</strong>
  <%= @number.company.name if @number.company %>
</p>
<p>
  <strong><%= t_model_name(IssueNumber)%></strong>

  <%= link_to '新建分配记录', {controller: "issue_numbers", action:"new",number_id:@number.id}, :class => 'btn btn-default'  %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><%= t_attr_name(IssueNumber,:customer_name)  %></th>
        <th><%= t_attr_name(IssueNumber,:issue_at) %></th>
        <th><%= t_attr_name(IssueNumber,:back_at)%></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @number.issue_numbers.each do |is| %>
        <tr>
          <td><%= is.customer.name %></td>
          <td><%= is.issue_at %></td>
          <td><%= is.back_at %></td>
          <td><%= link_to('修改', edit_issue_number_path(is))%></td>
          <td><%= link_to('删除', is, method: :delete, data: { confirm: '确定删除' } ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
              numbers_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_number_path(@number), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              number_path(@number),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
