<p id="notice"><%= notice %></p>

<p>
  <strong><%= number_attribute_name :phone_num %></strong>
  <%= @number.phone_num %>
</p>

<p>
  <strong><%= number_attribute_name :real_num %></strong>
  <%= @number.real_num %>
</p>

<p>
  <strong><%= number_attribute_name :apply_at %></strong>
  <%= @number.apply_at %>
</p>

<p>
  <strong><%= number_attribute_name :company_id %></strong>
  <%= @number.company.name %>
</p>

<%= link_to '修改', edit_number_path(@number) %> |
<%= link_to '返回', numbers_path %>
