

<p id="notice"><%= notice %></p>
<h3><%= company_model_name %>列表</h1>
<table class="gtab">
  <thead>
    <tr>
      <!-- <th><%= company_attribute_name :id %></th> -->
      <th><%= company_attribute_name :name %></th>
      <th><%= company_attribute_name :bill_num %></th>
      <th><%= company_attribute_name :tel_office %></th>
      <th><%= company_attribute_name :numbers_count %></th>
      <th><%= company_attribute_name :apply_at %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <!-- <td><%= company.id %></td> -->
        <td><%= company.name %></td>
        <td><%= company.bill_num %></td>
        <td><%= company.tel_office %></td>
        <td><%= company.numbers.size %></td>
        <td><%= company.apply_at %></td>
        <td><%= link_to '查看', company %></td>
        <td><%= link_to '修改', edit_company_path(company) %></td>
        <td><%= link_to '删除', company, method: :delete, data: { confirm: '确定删除' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @companies-%><%= page_entries_info @companies, :entry_name =>"套餐" %>
<br>
<%= link_to "新建#{company_model_name}", new_company_path %>
