<p id="notice"><%= notice %></p>

<p>
  <strong>Voice:</strong>
  <%= @bill_item.voice %>
</p>

<p>
  <strong>Message:</strong>
  <%= @bill_item.message %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @bill_item.internet %>
</p>

<p>
  <strong>Service:</strong>
  <%= @bill_item.service %>
</p>

<p>
  <strong>Proxy:</strong>
  <%= @bill_item.proxy %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @bill_item.bill %>
</p>

<%= link_to 'Edit', edit_bill_item_path(@bill_item) %> |
<%= link_to 'Back', bill_items_path %>
