<!DOCTYPE html>
<html>
<head>
  <title>Billing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>" >
<h1>销售e加 帐务系统 </h1>
<% if session[:user_id] != nil %>
欢迎 <%= session[:user_login] %>  <%= link_to "退出", login_path ,method: :delete %>
<h2> 
	<%= link_to "套餐管理", companies_path %>
	<%= link_to "号码管理", numbers_path %>
	<%= link_to "账单管理", numbers_path %>
	<%= link_to "资费管理", numbers_path %>
</h2>
<% end %>
<%= flash[:alert] %>
<%= yield %>
</body>
</html>
